{% extends yit_template %}
{% block showreceive %}
        <div id="container">
            {% if sending is send %}
                {% if receives is not null %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" />
                            </th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Sender</th>
                            <th>Created at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for send in receives %}
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>{{ send.title }}</td>
                                <td>{{ send.content }}</td>
                                <td>{{ send.fromUser }}</td>
                                <td>{{ receive.fastNote.created|date }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                        {##}
                    </table>
                {% endif %}
            {% endif %}
        </div>
{% endblock %}