{% extends 'YitNotificationBundle:Main:layout.html.twig' %}

{# for receive notification  #}

{% block showreceive %}
   <div id="container">
    {% if receives is defined %}
        {% if receives is not null %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" />
                        </th>
                        <th>Subject</th>
                        <th>Sender</th>
                        <th>Created at</th>
                    </tr>
                </thead>

                <tbody>
                    {% for receive in receives %}
                        {% if receive.status == 1  %} <!-- if notification is read show without bold-->
                            <tr>
                        {% else %}
                            <tr  class="bold">
                        {% endif %}
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <a href="{{  path('receive-detailed', {'notificId' : receive.id }) }}">{{ receive.notification.header }}</a>
                            </td>
                            <td>{{ receive.notification.fromUser }}</td>
                            <td>{{ receive.notification.created|date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% endif %}
    {% endif %}
   </div>
{% endblock %}